<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>ユーザ情報の登録</h1>
	<form action="#" th:action="@{/create}" th:object="${indexForm}" method="post">
	    <p>名前: <input type="text" th:field="*{name}" /></p>
	    <p>メールアドレス: <input type="text" th:field="*{email}" /></p>
	    <p>パスワード: <input type="text" th:field="*{password}" /></p>
	    <p>備考: <input type="text" th:field="*{remarks}" /></p>
	    <p><input type="submit" value="登録" />
           <input type="reset" value="リセット" />
           <input type="button" value="戻る" onclick="history.back()" />
        </p>
	</form>
</body>
</html>